* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #111112;
}

header h1 {
    font-weight: normal;
}

.navegador {
    margin: auto;
    height: auto;
    width: 20vw;
    font-size: 20px;
}

.atividades {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.atividades li {
    padding: 5px;
    font-weight: lighter;
}

.atividades li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #BAB8BF;
    color: #323133;
    box-shadow: 0 1px 4px #323133;
    transition: all 0.8s;
}

.atividades li a:hover{
    background-color:black;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    color: white;
    background-color: #111112;
    text-align: right;
}

footer span{
    display: block;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1px;
}