* {
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    display: block;
    position: relative;
    background-color: #65B9FF;
    height: 50px;
    box-shadow: 0 2px 4px #618EB3;
    box-sizing: border-box;
    z-index: 1;
    line-height: 50px;
}

header > div {
    float: right;
    height: 50px;
    box-sizing: border-box;
}

.form {
    padding: 0;
    float: left;
    display: block;
    position: relative;
    box-sizing: border-box;
}

button {
    height: 25px;
    width: 50px;
    border: none;
    margin-left: 5px;
    margin-right: 30px;
    color: #413E3E;
    cursor: pointer;
    background-color: #FA9B98;
    border-radius: 5px;
}

button span {
    font-size: 17px;
}

button:active{
    background-color: #FF837E;
}

#pesquisa { 
    right: 0;
    width: 200px;
    height: 23px;
    font-size: 17px;
    color: #3579B2;
    transition: all 0.80s;
    border-radius: 5px;
}

#pesquisa:focus {
    width: 400px;
}

header > h1 {
    float: left;
    display: block;
    width: 15vw;
    text-align: center;
    font-size: 35px;
    color: #FF837E;
}

header > nav {
    padding-left: 5px;
}

header > nav > ul > li {
    display: block;
    float: left;
    overflow: auto;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 18px;
}

.dropdown {
    display: block;
}

.drop-botao{
    text-decoration: none;
    color: #413E3E;
    padding: 0 15px;
    display: block;
}

.drop-conteudo {
    overflow: hidden;
    max-height: 0;
    transition: max-height 600ms;
    transition-timing-function: ease-in;
    background-color: #FA9B98;
    position: absolute;
    display: block;
    box-shadow: 1px 2px 3px #C76562;
}

.drop-conteudo > ul{
    list-style: none;
    display: block;
}

.drop-conteudo > ul > li > a{
    text-decoration: none;
    display: block;
    padding: 0 15px;
    box-sizing: border-box;
    color: #3579B2;
}

.drop-conteudo > ul > li > a:hover{
    background-color: #FF837E;
}

.dropdown:hover .drop-conteudo {
    max-height: 1000px;
}

.dropdown:hover {
    background-color: #FA9B98;
}

#nav-esquerda {
    float: left;
    display: block;
    height: calc(100vh - 50px);
    width: 15vw;
    background-color: #FA9B98;
    text-align: center;
    box-shadow: 2px 0 4px #C76562;;
    z-index: 2;
    font-size: 17px;
    box-sizing: border-box;
}

#div-direita {
    float: right;
    display: block;
    height: calc(100vh - 50px);
    width: 15vw;
    box-sizing: border-box;
    background: linear-gradient(#FA9B98,#fff);
    text-align: center;
}

#nav-esquerda ul, #div-direita ul{
    list-style: none;
    color: black;
}

#nav-esquerda ul li a, #div-direita ul li a{
    text-decoration: none;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    color: #3579B2;
}

#nav-esquerda ul li a:hover, #div-direita ul li a:hover{
    background-color: #FF837E;
}

.container {
    float: left;
    width: 68vw;
    box-sizing: border-box;
}

.conteudo {
    height: 400px;
    width: 50vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #6C97B9;
}

#ani img{
    height: 50px;
    width: 50px;
    position: relative;
    animation-name: animacao;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: auto;
}

@keyframes animacao {
    from {
        transform: rotate(0deg);
        left : 0;
    }
    to {
        transform: rotate(360deg);
        left: calc(100% - 50px);
    }
}

@media screen and (max-width: 600px) {
    body {
        position:relative;
    }

    header {
        height: 100px;
        text-align: center;
    }
    
    header > h1 {
        float: none;
        display: block;
        width: 100vw;
    }

    header > div {
        display: none;
    }

    .drop-conteudo {
        width: 100vw;
        text-align: center;
        left: 0;
    }

    #nav-esquerda{
        display: block;
        float: none;
        width: 100vw;
        height: 100%;
        position: relative;
        z-index: -3;
    }

    .container {
        position: relative;
        box-sizing: border-box;
        z-index: -1;
        padding-bottom: 100px;
    }

    .conteudo {
        width: 100vw;
        height: 400px;
        position: relative;
        z-index: -1;
    }
    
    #div-direita{
        width: 100vw;
        height: auto;
        min-height: 100px;
        bottom: 0;
    }
}