* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

#navegador {
    height: 100px;
    left: 0;
    right: 0;
    padding: 0 60px;
    background-image: url(gradient_bg.png);
    background-size: auto 100%;
    text-align: center;
    color: #a1887f;
    font-size: 11pt;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    text-transform: uppercase;
    box-shadow: 0 1px 4px 0 #eeeeee;
    z-index: 0;
}

#navegador h1 {
    border-bottom: 1px solid #a1887f;
    height: 50px;
    line-height: 50px;
}

#navegador ul {
    list-style-type: none;
    height: 49px;
    padding: 0;
}

#navegador ul li {
    display: inline-block;
}

#navegador ul li a {
    display: block;
    text-decoration: none;
    padding: 0 20px;
    line-height: 49px;
    transition: all 0.3s;
    color: #795548;
}

#navegador ul li a:hover {
    color: #b39ddb;
    background-color: #fff;
}

.contanier {
    padding-top: 100px;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    z-index: -10;
}

.artigos {
    width: 60vw;
    padding: 15px;
    border: 4px double #b39ddb;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    color: #424242;
}

.titulos{
    padding-bottom: 5px;
    color: #795548;
    font-size: 15px;
    text-transform: uppercase; 
}

.artigos p {
    padding-bottom: 10px;
    text-align: justify;
}

.subtitulos {
    padding: 5px 0; 
    border-top: 1px dashed #9575cd;
    color: #a1887f;
}

img {
    display: block;
    width: 60vw;
    padding: 0;
    border: 5px dotted #e1bee7;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

footer {
    color: #757575;
    margin-top: 10px;
    width: 100%;
    height: 94px;
    background-image: url(gradient_bg_inverso.png);
    background-size: auto 100%;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    bottom: 0;
    padding: 40px 0 15px 0;
    font-size: 12px;
}