* {
    margin : 0;
    padding: 0;
}

body {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

.menu-lateral{
    height: auto;
    width: 110px;
    position: fixed;
    background-color: #ccc;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    top:0;
    box-shadow: 1px 2px 2px #aaa;
    transition: transform .2s;
}

.menu-lateral ul {
    text-decoration: none;
    list-style: none;
}

.menu-lateral ul li a{
    display: block;
    padding: 7px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu-lateral ul li a:hover {
    background-color: #bbb;
}

#container {
    padding-left: 110px;
    margin-top: 10px;
    margin-left: 20px;
}

#container .cabecalho h1{
    padding-bottom: 10px;
}

#container .cabecalho #botao {
    display: none;
}

#accordeon {
    width: 80%;
}

#accordeon > ul > li > div {
    max-height: 0;
    overflow: hidden;
    transition: all .2s;
}

#accordeon ul li.active div{
    max-height: 1000px;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}

#accordeon ul li.active a{
    border-radius: 5px 5px 0 0;
}

#accordeon ul {
    list-style: none;
}

#accordeon ul li {
    padding: 4px 0;
}

#accordeon ul li a {
    background-color: #eee;
    display: block;
    cursor: pointer;
    height: 40px;
    font-size: 18px;
    padding: 11px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media screen and (max-width: 480px) {

    #container {
        padding: 0 10px;
    }
    
    #container .cabecalho #botao {
        display: block;
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
        color: #ccc;
        text-shadow: 1px 1px 3px #000;
        box-shadow: 2px 2px 4px #ccc;
        background-color: #eee;
        padding: 5px 10px;
        margin-right: 5px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .menu-lateral {
        transform: translateX(-110px);
    }

    #accordeon {
        width: 100%
    }

}